<!DOCTYPE html>
<html>
    <head>
        <title>AlbumStack™</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
    </head>
    <body>
        <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="/albums">AlbumStack™</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse nav justify-content-end" id="navbar">
                <ul class="navbar-nav">
                    <% if(!currentUser){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="/login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/register">Signup</a>
                        </li>
                    <% } else { %>
                        <li class="nav-item">
                            <a id="signed-in" class="nav-link" href="#">Signed in as <%= currentUser.username %></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/logout">Log out</a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </nav>

        <div id="flash-message" class="fluid-container text-center">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <em><%= error %></em>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <em><%= success %></em>
                </div>
            <% } %>
        </div>
        
        