<!DOCTYPE html>
<html>
    <head>
        <title>AlbumStack™</title>
        <link href="https://fonts.googleapis.com/css2?family=Mukta+Mahee:wght@200;300;400;500;600;700;800&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="/stylesheets/landing.css">
        <link rel="stylesheet" type="text/javascript" href="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js" async>
    </head>
    <body>
        <div id="flash-message" class="container-fluid text-center">
            <% if(error && error.length > 0){ %>
                <div class="alert alert-danger" role="alert">
                    <em><%= error %></em>
                </div>
            <% } %>
            <% if(success && success.length > 0){ %>
                <div class="alert alert-success" role="alert">
                    <em><%= success %></em>
                </div>
            <% } %>
        </div>
        <div id="landing-header" class="container-fluid text-center">
            <h1>Share your collection on AlbumStack™</h1>
            <p id="subtitle">Let's put it together!</p>
            <a href="/albums" id="landing-btn" class="btn btn-lg btn-success">View albums</a>
        </div>
        <ul class="slideshow">
            <li></li>
            <li></li>
            <li></li>            
            <li></li>                                  
        </ul>    
    <body>
<html>
