html, body {
    font-family: 'Poppins', sans-serif;
    height: 100%;
}

.wrapper {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.page-body {
    padding: 2rem;
    background: url(/imgs/background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-grow: 1;
}

.page-header {
    flex-shrink: 0;
}

.page-footer {
    flex-shrink: 0;
    height: 10%;
}

.navbar-brand {
    font-family: 'Nanum Brush Script', cursive;
    color: #f8f8f8;
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.15rem; 
}

.navbar-brand img {
    color: #f8f8f8;
    width: 2.3rem;
    padding: 0;
}

.nav-item {
    font-size: 0.9rem;
}

#signed-in {
    color: rgba(255, 255, 255, 0.75);
}

#flash {
    padding: 0;
}

.flash-message {
    margin: 0;
    border-radius: 0;
    border: 0;
}

.jumbotron {
    color: #f8f8f8;
    background-color: rgba(44, 118, 133, 0.856);
    opacity: .97;
    border-radius: 0;
    margin-bottom: 0;
}

#home-body {
    padding-bottom: 0;
}

#home-header h1 {
    font-weight: 500;
    font-size: 2.5rem;
}

#subtitle {
    font-family: 'Nanum Brush Script', cursive;
    font-size: 3rem;
    font-style: italic;
    font-weight: 400;
}

.album-btn {
    margin-top: 1rem;
    letter-spacing: 0.03rem;
    font-weight: 500; 
}

img {
    width: 400px;
}

.img-thumbnail {
    margin-bottom: 2rem;
    padding: 3px;
}

form {
    width: 60%;
    margin: auto;
}

.form-control {
    font-size: 0.8rem;
}

#genre {
    font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
    .text-left-md {
       text-align: left;
    }
}

#info {
    font-weight: 400;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}

#back-btn {
    text-align: center;
    font-size: 0.7rem;
}