#subtitle {
    font-size: 1.8rem;
    font-style: italic;
}

#new-btn {
    padding-top: 2.5rem;
    padding-right: 3rem;
}

.col-md-4 {
    padding: 0px;
    display: flex;
    max-width: 100%;
    height: auto;
}

img {
    padding: 30px;
    width: 400px;
}

#footer {
    margin: 5rem auto 0 auto;
    font-size: 0.7rem;
}

form {
    width: 30%;
    margin: 25px auto;
}

.form-control {
    font-size: 0.8rem;
}

#back-btn {
    text-align: center;
    font-size: 0.7rem;
}