#subtitle {
    font-size: 1.8rem;
    font-style: italic;
}

.album-btn {
    margin-top: 2rem;
}

.col-md-3 {
    padding-left: 0;
    display: flex;
    max-width: 100%;
    height: auto;
}

img {
    padding: 30px;
    width: 400px;
}

.img-thumbnail {
    margin-bottom: 2rem;
}

#footer {
    margin: 5rem auto 0 auto;
    font-size: 0.7rem;
}

form {
    width: 30%;
    margin: 25px auto;
}

.form-control {
    font-size: 0.8rem;
}

#genre {
    font-size: 0.8rem;
}

@media screen and (min-width: 768px) {
    .text-left-md {
       text-align: left;
    }
}

#back-btn {
    text-align: center;
    font-size: 0.7rem;
}